/* header{
    background-image: url("img/header.jpg");
} */

.one {
    height: 490px;
    background-image: url("../img/header.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "courgette";

}

/* .navbar {
    border-bottom: solid;
    background-color: rgba(0, 0, 0, 0.5);
} */

header img {
    height: 97px;
    
}

.col-4 {
    text-align: center;

}
div.col-4 {
    height: auto;
}
.col-3{
    height: 134px;
    /* width: 200px; */
}
#style_img{
    height: 100%;
    width: 100%;
}
/* .col-9{
    padding-left: 70px;
} */
button{
    width: 195px;
    border-color: black;
    background-color: white;
}
#exampleFormControlInput1{
    font-family: "courgette";
}
footer{
    background-color: black;
}
/* footer ul {
    list-style: none;
} */
#fth2{
    color: white;
}
#lft{
    text-align: left;
}
#lft ul li a{
    text-align: left;
}
h5{
    font-family: "courgette";
    color: white;
    text-align: start;
}
/* #ft{
    width: auto; */
}
#ftb{
    width: 100px;
    color: white;
    background-color: black;
    border-color: white;
}
ul{
    padding-left: 0%;
}
#btdiv{
    background-color: white;
    border-color: black;
}
.col-9 p{
    font-family:"Oswald";
}

